<header>
  <h1 class='center-text'>Ranking</h1>
</header>

<div class='main-rank'>
  <ul class="nav nav-tabs" role="tablist">
    {{#link-to 'top_ten' tagName="li"}}
      <a {{bind-attr href="view.href"}}>Top 10</a>
    {{/link-to}}
    {{#link-to 'players' tagName="li"}}
      <a {{bind-attr href="view.href"}}>Wszyscy gracze</a>
    {{/link-to}}
    {{#link-to 'tournaments' tagName="li"}}
      <a {{bind-attr href="view.href"}}>Turnieje</a>
    {{/link-to}}
  </ul>

  {{outlet}}
</div>

<footer class='footer'>
  <div class='container'>
    <p class='center-text text-muted'>&copy;2014 Krzysztof Białek</p>
  </div>
</footer>