<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand pull-left" href="#">Turnieje</a>
    <ul class='nav navbar-nav pull-right'>
        {{#if signedIn}}
          <li>
            {{#link-to 'tournaments.new' }}Dodaj  turniej{{/link-to}}
          </li>
          <li>
            {{#link-to 'logout' }}Wyloguj{{/link-to}}
          </li>
        {{else}}
          <li>
            {{#link-to 'login'}}Zaloguj{{/link-to}}
          </li>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>


<header>
  <h1 class='center-text'>Ranking</h1>
</header>

<div class='container'>
  {{outlet}}
</div>

<footer class='footer'>
  <div class='container'>
    <p class='center-text text-muted'>&copy;2014 Krzysztof Białek</p>
  </div>
</footer>
