<header>
  <h1 class='center-text'>Ranking</h1>
</header>

<div class='main-rank'>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Wszyscy gracze</a></li>
    <li>{{#link-to 'top10'}}Top 10{{/link-to}}</li>
    <li><a href="#">Turnieje</a></li>
  </ul>

  {{outlet}}
</div>

<footer>
  <p class='center-text'>&copy;2014 Krzysztof Białek</p>
</footer>