<div class='main-rank'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>#</th>
        <th>Nazwa</th>
        <th>Miasto</th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
        <tr>
          <td>{{ increment _view.contentIndex }}</td>
          <td>{{ name }} </td>
          <td>{{ city }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>